.box1{
    width: 500px;
    height: 200px;
    border: 2px solid magenta;
    overflow: scroll;
}
.box2{
    width: 500px;
    height: 200px;
    border: 2px solid navajowhite;
    overflow: scroll;
}
.logo .tiger{
    width: 200px;
    padding-left: 200px;
}
.headertf{
    text-align: center;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid mediumseagreen;
} 
.outer{
    background-color: hotpink;
}
.inner{
    background-color: honeydew;
    transform: translateX(10px) rotate(40deg);
}    